.form__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    @media (min-width: 576px) {

    }

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    @media (min-width: 992px) {

    }

    @media (min-width: 1200px) {

    }

}